/* start global rules  */
body {
    font-family: 'Cairo', sans-serif;
}

* {
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding: 100px;
    --alternative-color: #ececec;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* end global rules  */
/* start components  */
.main-heading {
    padding: 15px 25px;
    font-size: 30px;
    border: 2px solid #333;
    width: fit-content;
    text-transform: uppercase;
    margin: 50px auto;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index: 2;
}

.main-heading:hover {
    transition-delay: 0.5s;
    color: white;
    border-color: white;
}


.main-heading::before,
.main-heading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.main-heading::before {
    left: -30px;
}

.main-heading::after {
    right: -30px;
}

.main-heading:hover::before {
    animation: left-move 0.5s linear forwards;
    -webkit-animation: left-move 0.5s linear forwards;
    z-index: -1;
}

.main-heading:hover::after {
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
    z-index: -1;
}

/* end components  */

header {
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px #ddd;

}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .container .logo {
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: 22px;
    font-weight: bold;
}

@media (max-width:767px) {

    header .container .logo {
        width: 100%;
        height: 50px;
    }
}




header .container .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:767px) {
    header .container .main-nav {
        margin: auto;
    }
}

header .container .main-nav>li {
    margin: auto;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);

}

header .container .main-nav>li:hover .mega-menu {
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}


header .container .main-nav>li>a {
    padding: 0 30px;
    color: black;
    font-size: 20px;
    position: relative;
    transition: var(--main-transition);
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width:767px) {
    header .container .main-nav>li>a {
        font-size: 18px;
        padding: 10px;
        height: 40px;
    }

}

header .container .main-nav>li>a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

header .container .main-nav>li>a::before {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    height: 4px;
    width: 100%;
    transition: var(--main-transition);
    top: 0;
    left: -100%;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

header .container .main-nav>li>a:hover::before {
    left: 0;
}

/* start landing  */
.landing {
    position: relative;
    height: calc(100vh - 73px);

}

.landing::before {
    content: '';
    position: absolute;
    background-color: var(--alternative-color);
    width: 100%;
    height: 100%;
    bottom: 120px;
    left: 0;
    z-index: -1;
    transform: skewy(-6deg);
}


.landing .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    min-height: calc(100vh - 73px);

}


.landing .container .go-down {
    position: absolute;
    left: 50%;
    font-size: 30px;
    font-weight: bold;
    bottom: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    color: var(--main-color);
    animation: bouncing 1.5s linear infinite;
    -webkit-animation: bouncing 1.5s linear infinite;
}



.landing .container .text {
    flex: 1;
}

@media (max-width:767px) {
    .landing .container .text {
        text-align: center;
    }


}

.landing .container .text h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 15px 0 0;
}

@media (max-width:767px) {
    .landing .container .text h2 {
        font-size: 30px;
    }


}

.landing .container .text p {
    font-size: 25px;
    color: #666;
    line-height: 1.7;
    margin: 5px 0 0;
}

@media (max-width:767px) {
    .landing .container .text p {
        font-size: 20px;
    }
}




.landing .container .image {
    width: 600px;
}

@media (max-width:767px) {
    .landing .container .image {
        display: none;


    }


}

.landing .container .image img {
    max-width: 100%;
    animation: up-and-down 5s linear infinite;
    */ -webkit-animation: up-and-down 5s linear infinite;
    position: relative;
    z-index: 2;
}

/* end landing  */

/* start mega-menu  */
.mega-menu {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 100%;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    width: 100%;
    right: -5px;
    z-index: -1;
    opacity: 0;
    transition: opacity var(--main-transition), top var(--main-transition);
    border-top: 1px solid #ececec;
    -webkit-transition: opacity var(--main-transition), top var(--main-transition);
    -moz-transition: opacity var(--main-transition), top var(--main-transition);
    -ms-transition: opacity var(--main-transition), top var(--main-transition);
    -o-transition: opacity var(--main-transition), top var(--main-transition);
}

@media (max-width: 767px) {
    .mega-menu {
        flex-direction: column;
        gap: 0;

    }
}

.mega-menu .image {}

@media (max-width: 991px) {
    .mega-menu .image {
        display: none;
    }

}

.mega-menu .image img {
    max-width: 100%;
}

.mega-menu .links {
    min-width: 250px;
    flex: 1;
}

.mega-menu .links li {
    position: relative;

}

@media (max-width: 767px) {
    .mega-menu .links:first-of-type li:last-child {
        border-bottom: 2px solid #e9e6e6;

    }
}

.mega-menu .links li:not(:last-child) {
    border-bottom: 2px solid #e9e6e6;
}

.mega-menu .links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background: #fafafa;
}

.mega-menu .links li:hover::before {
    width: 100%;
}

.mega-menu .links li a {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}



/*end mega-menu  */

/* start articles  */
.articles {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;

}

.articles .box {
    box-shadow: 0 0 10px #0000001c;
    border-radius: 5px;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
    -webkit-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -moz-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -ms-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -o-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -webkit-border-radius: 5px;
    overflow: hidden;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.articles .box:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 0 10px #00000034;
}

.articles .box img {
    max-width: 100%;

}

.articles .box .content {
    padding: 20px;

}

.articles .box .content h4 {
    font-weight: bold;
    font-size: 23px;
    margin: 0;
}

.articles .box .content p {
    color: #777;
    line-height: 1.6;
}

.articles .box .info {
    display: flex;
    padding: 20px;
    border-top: 1px solid #e6e6e9;
    justify-content: space-between;
    align-items: center;
}


.articles .box .info a {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: var(--main-color);
}

.articles .box .info i {
    font-size: 20px;
    color: var(--main-color);

}

.articles .box:hover .info i {
    animation: reffering 0.5s linear infinite;
    -webkit-animation: reffering 0.5s linear infinite;

}

/* end articles  */

/* start Gallery  */
.gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--alternative-color);

}
.gallery .main-heading {
    z-index: 222;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    
}
.gallery .card {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .card .image {
    overflow: hidden;
    position: relative;

}
.gallery .card .image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background-color: hsla(0, 0%, 100%, 0.2);
    z-index: 333;
}
.gallery .card:hover .image::before {
    animation: flashing 0.7s;
    -webkit-animation: flashing 0.7s;
}
.gallery .card img {
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.gallery .card:hover img {
    transform: scale(1.2) rotate(4deg);
    -webkit-transform: scale(1.2) rotate(4deg);
    -moz-transform: scale(1.2) rotate(4deg);
    -ms-transform: scale(1.2) rotate(4deg);
    -o-transform: scale(1.2) rotate(4deg);
    
  
}

/* start Gallery  */
/* start features  */
.features {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;

}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr ));
    gap: 40px;

}
.features .card {
    text-align: center;
    position: relative;
    border: 1px solid #e9e6e6;
    overflow: hidden;
}
.features .card .image::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 200px 500px;
    border-color: transparent transparent  #ffffff transparent;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.features .card:hover .image::after  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 500px 200px 0px;
    border-color: transparent transparent #ffffff transparent;
   
}
.features .card .image {
    position: relative;
    
}
.features .card .image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.features .Quality .image::before {
    background-color: hsla(3, 90%, 58%, 0.6);
}
.features .time .image::before {
    background-color: hsla(174, 100%, 29%, 0.6);
}
.features .Passion .image::before {
    background-color: hwb(199 1% 4% / 0.6);
}
.features .card .image img {
    max-width: 100%;
    
}
.features .card .info {
    padding: 20px;
    
}
.features .card .info h4 {
    font-size: 35px;
    margin: 10px 0 50px;
    position: relative;
    
}

.features .card .info h4::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: -20px;
    width: 100px;
    height: 3px;
}
.features .Quality .info h4::before {
    background-color: #f44036;
}
.features .time .info h4::before {
    background-color: #009688;
}
.features .Passion .info h4::before {
    background-color: #03a9f4;
}
.features .card .info p {
    font-size: 20px;
    color: #777;
    line-height: 2;
    
}
.features .card a {
    padding: 10px 30px;
    display: block;
    width: fit-content;
    border: 2px solid ;
    font-weight: bold;
    margin: 10px auto 30px;
    font-size: 22px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.features .card:hover a {
    background-position: left bottom;
    color: white;
} 
.features .Quality a {
    border-color: #f44036;
    color: #f44036;
    background-image: linear-gradient(to right, #f44036 50%, white 50%);
    
}
.features .time a {
border-color:  #009688;
color:  #009688;
background-image: linear-gradient(to right, #009688 50%, white 50%);
}
.features .Passion  a {
    border-color:  #03a9f4;
    color:  #03a9f4;
    background-image: linear-gradient(to right, #03a9f4 50%, white 50%);
}

/* start features  */
/* start testimonials  */
.testimonials {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--alternative-color);
    
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 40px;

}
.testimonials .card{
    padding: 15px;
    position: relative;
    border-radius: 6px;
    margin: 20px 10px 10px ;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 7%), 0px 2px 4px 0px rgb(0 0 0 / 7%);
    background-color: white;
}

.testimonials .card  img{
    max-width: 100%;
    width: 100px;
    right: -10px;
    position: absolute;
    border-radius: 50%;
    top: -50px;
    border: 10px solid var(--alternative-color);
}
.testimonials .card h3 {
    margin: 0 0 10px;   
}
.testimonials .card span {
    display: block;
    margin: 0 0 10px;
    color: #777;

}
.testimonials .card .rating {

}
.testimonials .card .rating .filled  {
    color: #ffc107;

}
.testimonials .card p {
    line-height: 1.5;
    color: #555;
    font-size: 18px;
    margin-bottom: 0;

}
/*end testimonials  */
 /* start team  */
    .team {
        padding-top: var(--main-padding);
        padding-bottom: var(--main-padding);
        position: relative;
    }
    .team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr ));
    gap: 30px;    

    }
    .team .box {
        position: relative;
    }
    .team .box::before,
    .team .box::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
}   
    .team .box::before {
        width: calc(100% - 60px);
        background-color: #f3f3f3;
        z-index: -2;
        
    }
    .team .box::after {
        background: #e4e4e4;
        width: 0px;
        z-index: -1;
        
    }
    .team .box:hover::after {
        width: calc(100% - 60px);
    }

    .team .box .social {    
    display: flex;
    align-items: center;
    justify-content: center;

    }
    .team .box img {
        max-width: 100%;
        transition: var(--main-transition);
        width: calc(100% - 60px);
        margin-top: 60px;
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
}
    .team .box:hover img {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
}
    .team .box .social .links {
        display: flex;
        flex-direction: column;
        width: 60px;
        gap: 20px;
        justify-content: center;
        align-items: center;

    }

    .team .box .social .links  a i{
        color: #777;
        font-size: 18px;
        position: relative;
        z-index: 3;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
}
    .team .box .social .links a:hover i{
        color: var(--main-color);
    }
    .team .box .info {
        padding-left: 80px;
        padding-right: 20px;

        
    }
    .team .box .info h2 {
        margin: 10px 0 20px ;
        color: var(--main-color);
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
}
    .team .box:hover .info h2 {
        color: #555;
    }
    .team .box .info p {
        color: #777;
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 15px;

    }
 
 /* end team  */
  /* start services  */
    .services {
        padding-top: var(--main-padding);
        padding-bottom: var(--main-padding);
        position: relative;
        background-color: var(--alternative-color);
        
    }
    .services  .container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr ));
        gap: 30px;  


    }
    .services .service{
        position: relative;
        background-color: white;
        box-shadow: 0 0 10px rgb(166 166 166 / 50%);
        transition: transform var(--main-transition);
        -webkit-transition: transform var(--main-transition);
        -moz-transition: transform var(--main-transition);
        -ms-transition: transform var(--main-transition);
        -o-transition: transform var(--main-transition);
}
    .services .service:hover {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
    .services .service::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        top: 0;
        height: 3px;
        width: 0;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
        background-color: var(--main-color);
}
.services .service:hover::before {
    width: 100%;
}
    .services .service .head {
        text-align: center;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
        
    .services .service .head h3{
        font-size: 30px;
        color: var(--main-color);
        
    }
    .services .service .head i {
        order: -1;
        font-size: 4em;
        color: #d5d5d5;
        
    }
    .services .service .foot{
        position: relative;
        font-size: 20px;
        text-transform: capitalize;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #f9f9f9;
        color: var(--main-color);
        padding: 20px;
        
    } 
    .services .service .foot::before {
        position: absolute;
        left: 0;
        background-color: var(--main-color);
        color: white;
        width: 100px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        font-size: 30px;
        font-weight: bold;
    }
    .services .service .one::before {
        content: '01';
        
    }
    .services .service .two::before {
        content: '02';
        
    }
    .services .service .three::before {
        content: '03';
        
    }
    .services .service .four::before {
        content: '04';
        
    }
    .services .service .five::before {
        content: '05';
        
    }
    .services .service .six::before {
        content: '06';
        
    }
    .services .service .foot::after {
        content: '';
        z-index: 2;
        position: absolute;
        background-color: #d5d5d5;
        width: 50px;
        height: 100%;
        left: 80px;
        transform: skewX(-25deg);
        -webkit-transform: skewX(-25deg);
        -moz-transform: skewX(-25deg);
        -ms-transform: skewX(-25deg);
        -o-transform: skewX(-25deg);
}

  /* end services  */


/* start animation  */

@keyframes up-and-down {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    30%,
    50%,
    70%,
    90%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }


}

@keyframes left-move {
    50% {
        left: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;

    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }


}

@keyframes right-move {
    50% {
        right: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;

    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }


}

@keyframes reffering {
    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }

}
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
    
}

/* end animation  */